@model 仓储系统.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href="~/Content/bootstrap.min.css">
    <link rel='stylesheet' href="~/Content/login.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <script>
        function ResetForm() {
            document.getElementById('U_name').value = "";
            document.getElementById('U_password').value = "";
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                @using (Html.BeginForm("DoLogin", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <span class="heading">用户登录</span>
                    <div class="form-group">
                        <!--input type="text" class="form-control" id="inputEmail3" name="inputEmail3" placeholder="用户名"-->
                        @Html.TextBoxFor(model => model.U_name, new { @class = "form-control" })
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <!--input type="password" class="form-control" id="inputPassword3" name="inputPassword3" placeholder="密　码"-->
                        @*@Html.PasswordFor(model => model.U_password, new { @class = "form-control" })*@
                        @Html.TextBoxFor(model => model.U_password, new { @class = "form-control" })
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="取消" onclick="ResetForm()">
                        <button type="submit" class="btn_login btn-default">登录</button>
                    </div>
                    <!--div>忘记密码？<a herf="~/Account/Registered">找回密码</a></div-->
                    <div id="divFooter">
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - 仓储管理系统</p>
                        </footer>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

