@using 仓储系统.Models
@model Warehouse


<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">查看</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                仓库编号:
                            </td>
                            <td>
                                <input type="text" id="Wa_Id" name="Wa_Id" readonly="readonly" value="@Model.Wa_Id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                仓库名称:
                            </td>
                            <td>
                                <input type="text" id="Wa_name" name="Wa_name" readonly="readonly" value="@Model.Wa_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                仓库地址:
                            </td>
                            <td>
                                <input type="text" id="Wa_address" name="Wa_address" readonly="readonly" value="@Model.Wa_address" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                负责人:
                            </td>
                            <td>
                                <input type="text" id="Wa_princiopal" name="Wa_princiopal" readonly="readonly" value="@Model.Wa_princiopal" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                联系方式:
                            </td>
                            <td>
                                <input type="text" id="Wa_contact" name="Wa_contact" readonly="readonly" value="@Model.Wa_contact" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                仓库容量:
                            </td>
                            <td>
                                <input type="text" id="Wa_capacity" name="Wa_capacity" readonly="readonly" value="@Model.Wa_capacity" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                可用容量:
                            </td>
                            <td>
                                <input type="text" id="Wa_able_capacity" name="Wa_able_capacity" readonly="readonly" value="@Model.Wa_able_capacity" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                备注:
                            </td>
                            <td>
                                <input type="text" id="Wa_note" name="Wa_note" readonly="readonly" value="@Model.Wa_note" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
    </div>
</div>


