@using 仓储系统.Models
@model Commodity

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">查看</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                商品编号:
                            </td>
                            <td>
                                <input type="text" id="CCo_Id" name="Co_Id" readonly="readonly" value="@Model.Co_Id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品名称:
                            </td>
                            <td>
                                <input type="text" id="Co_name" name="Co_name" readonly="readonly" value="@Model.Co_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                条码编号:
                            </td>
                            <td>
                                <input type="text" id="CCo_bar_code" name="Co_bar_code" readonly="readonly" value="@Model.Co_bar_code" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品分类:
                            </td>
                            <td>
                                <input type="text" id="CCo_type" name="Co_type" readonly="readonly" value="@Model.Co_type" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品规格:
                            </td>
                            <td>
                                <input type="text" id="CCo_specification" name="Co_specification" readonly="readonly" value="@Model.Co_specification" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品单价:
                            </td>
                            <td>
                                <input type="text" id="CCo_price" name="Co_price" readonly="readonly" value="@Model.Co_price" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                计量单位:
                            </td>
                            <td>
                                <input type="text" id="CCo_unit" name="Co_unit" readonly="readonly" value="@Model.Co_unit" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品重量:
                            </td>
                            <td>
                                <input type="text" id="CCo_weight" name="Co_weight" readonly="readonly" value="@Model.Co_weight" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                备注:
                            </td>
                            <td>
                                <input type="text" id="CCo_note" name="Co_note" readonly="readonly" value="@Model.Co_note" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
    </div>
</div>
