@using 仓储系统.ViewModels
@model ExistTableListViewModel

<div class="container">
    <div class="row">
        <table border="1" class="table table-bordered">
            <tr>
                <th scope="col">商品编号</th>
                <th scope="col">商品名称</th>
                <th scope="col">条码编号</th>
                <th scope="col">存储仓库</th>
                <th scope="col">商品数量</th>
                <th scope="col">入库单号</th>
                <th scope="col">入库员工</th>
                <th scope="col">入库时间</th>
                <th scope="col">商品分类</th>
                <th scope="col">商品单价</th>
                <th scope="col" colspan="2">操作</th>
            </tr>
            @*@foreach (ExistTableViewModel item in Model.existTableViewModels)
            {
        <tr>
            <td>@item.commodity.Co_Id</td>
            <td>@item.commodity.Co_name</td>
            <td>@item.commodity.Co_bar_code</td>
            <td>@item.W_name</td>
            <td>@item.exist.Count</td>
            <td>@item.exist.IO_Id</td>
            <td>@item.U_name</td>
            <td>@item.exist.IntoDate.ToString("yyyy-MM-dd")</td>
            <td>@item.commodity.Co_type</td>
            <td>@item.commodity.Co_price</td>*@
            @for (int i = 0; i < Model.existTableViewModels.Count(); i++)
            { 
        <tr>
            <td>@Model.existTableViewModels[i].commodity.Co_Id</td>
            <td>@Model.existTableViewModels[i].commodity.Co_name</td>
            <td>@Model.existTableViewModels[i].commodity.Co_bar_code</td>
            <td>@Model.existTableViewModels[i].W_name</td>
            <td>@Model.existTableViewModels[i].exist.Count</td>
            <td>@Model.existTableViewModels[i].exist.IO_Id</td>
            <td>@Model.existTableViewModels[i].U_name</td>
            <td>@Model.existTableViewModels[i].exist.IntoDate.ToString("yyyy-MM-dd")</td>
            <td>@Model.existTableViewModels[i].commodity.Co_type</td>
            <td>@Model.existTableViewModels[i].commodity.Co_price</td>
            <td>
                <a href="#s_@i" data-toggle="modal" name="">查看</a>
                <a href="#l_@i" data-toggle="modal" name="">报损</a>
                <a href="#u_@i" data-toggle="modal" style="display:@Model.Display" name="">修改</a>
                <div class="modal fade" id="s_@i" tabindex="-1" role="dialog" aria-hidden="true">
                @{
                    Html.RenderPartial("DisplayExist", @Model.existTableViewModels[i]);
                }
            </div>
            <div class="modal fade" id="l_@i" tabindex="-1" role="dialog" aria-hidden="true">
                @{
                    Html.RenderPartial("LossExist", @Model.existTableViewModels[i]);
                }
            </div>
            <div class="modal fade" id="u_@i" tabindex="-1" role="dialog" aria-hidden="true">
                @{
                    Html.RenderPartial("UpdataExist", @Model.existTableViewModels[i]);
                }
            </div>
            </td>
        </tr>
            }
        </table>
    </div>
</div>

