@using 仓储系统.ViewModels
@model ExistTableViewModel


@using (Html.BeginForm("SaveExist", "Home", FormMethod.Post, new { @id = "delete-form", role = "form" }))
{
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">查看</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                商品编号:
                            </td>
                            <td>
                                <input type="text" id="Co_id" class="form-control pull-right" name="Co_Id" value="@Model.commodity.Co_Id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                存储仓库:
                            </td>
                            <td>
                                <input type="text" id="W_name" class="form-control pull-right" name="W_name" value="@Model.W_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                商品数量:
                            </td>
                            <td>
                                <input type="text" id="Count" class="form-control pull-right" name="Count" value="@Model.exist.Count" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                入库员工:
                            </td>
                            <td>
                                <input type="text" id="U_name" class="form-control pull-right" name="U_name" value="@Model.U_name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                入库时间:
                            </td>
                            <td>
                                <input type="text" id="IntoDate" class="form-control pull-right" name="IntoDate" readonly="readonly" value="@Model.exist.IntoDate.ToString("yyyy-MM-dd")" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <input type="text" name="IO_Id" value="@Model.exist.IO_Id" style="display:none"/>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ResetUpdataForm();">取消</button>
                <input type="submit" class="btn btn-primary" name="BtnSubmit" value="提交更改" />
            </div>
        </div>
    </div>
}

