@using 仓储系统.ViewModels
@using 仓储系统.Models
@using PagedList.Mvc;
@model AttributesViewModel
@{
    ViewBag.Title = "物品设置";
}

<script>
    function getPath(name) {
        return "~/image/" + name + ".jpg";
    }
</script>

<h2> @ViewBag.Title</h2>
<div class="container dropdown">

    <!--搜索功能-->
    @using (Html.BeginForm("searchAttrbutetes", "Home", FormMethod.Post, new { @id = "WarehouseForm", role = "form" }))
    {
        <div class="row">
            <div class="col-lg-4">
                <input class=" btn btn-primary" type="button" value="添加" id="IntoWarehouse" name="IntoWarehouse" onclick="$('#addCommodity').modal('show')" />
            </div>
            <div class="col-lg-8">
                <input type="submit" class="btn btn-primary pull-right" name="BtnSubmit" value="搜索">
                <input type="text" class="form-control pull-right" placeholder="name" aria-label="name" name="name" value="">
                <select class="selectpicker show-tick form-control pull-right" data-live-search="true" name="Select">
                    <option>商品编号</option>
                    <option>商品名称</option>
                    <option>条码编号</option>
                    <option>商品分类</option>
                    <option>商品规格</option>
                    <option>商品单价</option>
                </select>
            </div>
        </div>
    }


    <hr />

    <!--商品显示表-->
    <table border="1" class="table table-bordered">
        <tr>
            <th scope="col">商品编号</th>
            <th scope="col">商品名称</th>
            <th scope="col">条码编号</th>
            <th scope="col">商品分类</th>
            <th scope="col">商品规格</th>
            <th scope="col">商品单价</th>
            <th scope="col">计量单位</th>
            <th scope="col">商品重量</th>
            <th scope="col">备注</th>
            <th scope="col">操作</th>
        </tr>
        @foreach (var item in Model.commPathViewModels)
        {
            <tr>
                <td>@item.commodity.Co_Id</td>
                <td>@item.commodity.Co_name</td>
                <td>@item.commodity.Co_bar_code</td>
                <td>@item.commodity.Co_type</td>
                <td>@item.commodity.Co_specification</td>
                <td>@item.commodity.Co_price</td>
                <td>@item.commodity.Co_unit</td>
                <td>@item.commodity.Co_weight</td>
                <td>...</td>
                <td>
                    <a href="#s_@item.commodity.Co_Id" data-toggle="modal" name="">查看</a>
                    <a href="#u_@item.commodity.Co_Id" data-toggle="modal" name="">修改</a>
                    <a href="#d_@item.commodity.Co_Id" data-toggle="modal" name="">删除</a>
                    <a href="@item.path">条码</a>
                    <!--查看-->
                    <div class="modal fade" id="s_@item.commodity.Co_Id" tabindex="-1" role="dialog" aria-hidden="true">
                        @{
                            Html.RenderPartial("DisplayCommodity", item.commodity);
                        }
                    </div>
                    <!--修改-->
                    <div class="modal fade" id="u_@item.commodity.Co_Id" tabindex="-1" role="dialog" aria-hidden="true">
                        @{
                            Html.RenderPartial("UpdataCommodity", item.commodity);
                        }
                    </div>
                    <!--删除-->
                    <div class="modal fade" id="d_@item.commodity.Co_Id" tabindex="-1" role="dialog" aria-hidden="true">
                        @{
                            Html.RenderPartial("DeleteItem", new DeleteViewModel() { D_id = item.commodity.Co_Id.ToString(), D_name = item.commodity.Co_name, T_name = "物品" });
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
    每页 @Model.commPathViewModels.PageSize 条记录，共 @Model.commPathViewModels.PageCount 页，当前第 @Model.commPathViewModels.PageNumber 页
    @if (true)
    {
        @Html.PagedListPager(Model.commPathViewModels, page => Url.Action("searchAttrbutetes", new { page }))
    }
    else
    {
        @Html.PagedListPager(Model.commPathViewModels, page => Url.Action("Attributes", new { page }))
    }

    <div class="modal fade" id="addCommodity" tabindex="-1" role="dialog" aria-hidden="true">
        @{
            Html.RenderPartial("CreateCommodity");
        }
    </div>

    <hr />
    <!--没用的东西-->

</div>

